footer
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right:0px;
  background-color: #8bd5cb;
  text-align: center;
  font-size: 18px;

}

#footer-list
{
  list-style: none;
  padding-left: 0;
}

#footer-list, li
{
  color: #c56868;
}
