.navbar
{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c56868;
  margin-bottom: 30px;
  border-radius: 20px 20px;
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
}


#navbar_right
{
  display: flex;
  align-items: center;
}

#navbar_right li
{
  margin-right: 20px;
  color: white !important;
}

.avatar{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}

.dropbtn
{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  outline: 0;
}

.dropdown-content
{
    display: none;
    background-color: pink;
    overflow: auto;
    position: absolute;
    margin-left: 8px;
    border-radius: 10px;
}

.show
{
  display: block;
}

.dropdown
{
  position: relative;
}
